<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183592142336-amugpmh4k444jkfh4ik7rsqdonnv777a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183592142336-amugpmh4k444jkfh4ik7rsqdonnv777a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183592142336-l5johnvr5mmi9oaofubko7ceghqd9ihm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAr5yA595MnbqufJj1QblIwit2MBmwdhs8</string>
	<key>GCM_SENDER_ID</key>
	<string>183592142336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prestadioapp.prestadio</string>
	<key>PROJECT_ID</key>
	<string>prestadio-5fd21</string>
	<key>STORAGE_BUCKET</key>
	<string>prestadio-5fd21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183592142336:ios:f3419a1c6fafee4bcd3ae5</string>
</dict>
</plist>